body {
    font-family: 'Droid Serif';
}
h1,
h2,
h3,
h4 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}
.comment{
		color: white;
		background: yellow;
		padding: 5px;
	}
.uomi{
	position: absolute;
	top: 0px;
	left: 10px;
	width: 200px;
}

.iami{
	position: absolute;
	bottom: 20px;
	right: 10px;
	width: 200px;
}

h2 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    position: absolute;
    top: -0.8em;
    left: 220px;
	right: 200px;
}

li{
	font-size: 1.5em;
}

.caption {
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    display: block;
    padding: 10px;
}
.av .caption:before {
    content: "Audio Visual: ";
}
.fig .caption:before {
    content: "Figure: ";
}
.tab .caption:before {
    content: "Table: ";
}
.credit {
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    color: lightslategray;
}
.credit:before {
    content: "Credit: ";
}
.remark-code,
.remark-inline-code {
    font-family: 'Ubuntu Mono';
}
.inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
}
.inverse h1,
.inverse h2,
.inverse h3 {
    color: #f3f3f3;
    line-height: 0.8em;
}
.inverse a {
    color: #FE4D3E;
    text-decoration: none;
}
pre {
    border-left: 0.4em solid #d7d7d7;
    padding: 1em !important;
}
code {
    background: transparent !important;
}
a {
    color: #68218B;
    /*#FE4D3E;*/
    
    text-decoration: none;
}
.note-location {
    float: right;
    top;
    font-size: 0.9em;
    padding-top: 0.6em;
}
.note-location a {
    color: #68218B;
    text-decoration: none;
}
.right {
    float: right;
    margin-left: 1em;
}
.pushdown {
    margin-top: 12em;
}
/* Two-column layout */

.top-across {
	position: absolute;
    height: 40%;
	top: 0%;
	left: 0px;
}
.bottom-across {
	position: absolute;
    height: 60%;
	top: 40%;
}

.left-column {
    width: 50%;
    float: left;
    padding-top: 1em;
}
.right-image {
    vertical-align: middle;
    width: 30%;
    float: right;
    padding-top: 1em;
}
.right-column {
    width: 50%;
    float: right;
    padding-top: 1em;
}
.footer {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    font-size: 0.6em;
    color: #68218B;
}
.footer a {
    color: #68218B;
    text-decoration: none;
}
.sections {
    position: absolute;
    top: 1.0em;
    right: 1em;
    font-size: 1.0 em;
    color: #68218B;
}
.sections a {
    color: #68218B;
    text-decoration: none;
}
.footer {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    font-size: 0.6em;
    color: #68218B;
}
.footer a {
    color: #68218B;
    text-decoration: none;
}
.sections {
    position: absolute;
    top: 1.0em;
    right: 1em;
    font-size: 1.0 em;
    color: #68218B;
}
.sections a {
    color: #68218B;
    text-decoration: none;
}
.inverse .credits {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    font-size: 0.6em;
    color: #FE4D3E;
}
.inverse .credits a {
    color: #FE4D3E;
    text-decoration: none;
}
.inverse .noteids {
    position: absolute;
    top: 1.0em;
    right: 1em;
    font-size: 1.0 em;
    color: #FE4D3E;
}
.inverse .noteids a {
    color: #FE4D3E;
    text-decoration: none;
}
.aside {
    position: absolute;
    bottom: 2.0em;
    left: 1.0em;
	right: 220px;
    font-size: 1.0em;
    color: #FE4D3E;
    border: 1px dashed #FE4D3E;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}
.asidenb {
    position: absolute;
    bottom: 2.0em;
    left: 1.0em;
	right: 220px;
    font-size: 1.0em;
    color: #FE4D3E;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

blockquote {
    line-height: 1.3em;
    font-family: 'Yanone Kaffeesatz';
	font-size: 1.8em;
    font-style: italic;
	text-align: center;
}
blockquote:before{
	content: '"';
}
blockquote:after{
	content: '"';
}
.alert{
	display: block;
	color: #FE4D3E;
	text-align: center;
	font-weight: bold;
	
}
.top {
    padding-top: 3em;
}

